{% block body %}
    <style>
        .header-container {
            min-height: 50px;
            width: 100%;
            position: fixed;
            top: 0;
            background-color: #7b7678;
            padding-left: 1%;
        }
    </style>



    <div class="header-container">
        <p> Je suis un header et toi? </p>
    </div>
{% endblock %}
