{% block body %}
    <style>
        .header-container {
            display: flex;
            gap: 2em;
            min-height: 50px;
            width: 100%;
            position: fixed;
            top: 0;
            background-color: #7b7678;
            padding-left: 1%;
        }
    </style>

    <div class="header-container">
        <div class="home"><a href="{{ path("accueil") }}"> Accueil </a> </div>

        <div class="groupes"><a href="{{ path("bands") }}"> Groupes </a> </div>

        <div class="login"><a href="{{ path("app_login") }}"> Se connecter </a> </div>
    </div>
{% endblock %}
