{% extends 'base.html.twig' %}

{% block title %}
    {% if isNull == false %}
        Liste des groupes
    {% endif %}

    {% if isNull == true %}
        Erreur désolé
    {% endif %}
{% endblock %}

{% block body %}

    <style>
        .main-container {
            margin: 0 auto;
            padding: 1%;
            margin-top: 55px;
            background-color: #b8b3b5;
            width: 90%;
        }
    </style>
    <div class="main-container">
        <h1> Liste des groupes : </h1>
        {% if isNull == false %}
        <ul>
            {% for band in theBand %}
                <li>
                    <a href="band/display/{{ band.getId() }}">{{ band.getNameBand() }}</a>
                </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if isNull == true %}
            <h1> Une erreur est survenue :/ </h1>
        {% endif %}

    </div>

    <style>
        .main-container {
            color: crimson;
            font-size: 2em;
        }
    </style>
{% endblock %}
