{% extends 'base.html.twig' %}

{% block title %}Band index{% endblock %}

{% block body %}
    <style>
        .card {
            background-color: #b2b2b2;
        }

        a {
            text-decoration: none;
            color: white;
        }
        a:hover {
            color: #ff3434;
        }
        .button {
            background-color: #808080;
            border: none;
        }
    </style>

    <h1>Band index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom du groupe</th>
            </tr>
        </thead>
        <tbody>
        {% for band in bands %}
            <tr class="card">
                <td>{{ band.nameBand }}</td>
                <td>
                    <div class="button"><a href="{{ path('band_show', {'id': band.id}) }}">Détails</a></div>
                    <div class="button"><a href="{{ path('band_edit', {'id': band.id}) }}">Modifier</a></div>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucuns groupes trouvés :/</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('band_new') }}">Create new</a>
{% endblock %}
