{% block body %}
    <style>
        .footer-container {
            min-height: 150px;
            width: 100%;
            position: fixed;
            bottom: 0;
            background-color: #7b7678;
            padding-left: 1%;
        }
    </style>



    <div class="footer-container">
        <h1> Concert website </h1>
    </div>
{% endblock %}
