 {% extends 'base.html.twig' %}

{% block title %}Site de concerts!{% endblock %}


{% block body %}
<h1>Prochains concerts a venir : </h1>

    {% if isNull == false %}
        {% for c in theConcert %}
            <ul>{{ c.nameConcert }}</ul>
        {% endfor %}
    {% endif %}

    {% if isNull == true %}
        <h2 class="texteConcertNull">Aucuns concerts à venir pour le moment...</h2>
    {% endif %}

{% endblock %}
