 {% extends 'base.html.twig' %}

{% block title %}Site de concerts!{% endblock %}


{% block body %}
<h1>Bienvenue sur le site des concerts !</h1>

<h2> Si vous voulez vous baladez dans le site ( c'est temporaire) :  </h2>


    <a href="bands"> --> Liste de tous les groupes </a>
    <br>
    <a href="band/create"> --> Créer un groupe de musique </a>
{% endblock %}
